<div class="container-fluid" style="background-color: #1A4354;">

  <div class="row" style="padding: 40px 0 15px 50px;">

    <div class="col-12 col-md-6 col-lg-5 align-self-center order-last order-md-first">

      <h1 class="col-12 col-md-9 col-lg-8 order-md-last socialText">ما را در شبکه های اجتماعی دنبال کنید</h1>

      <ul type="none" class="col-6 offset-4 offset-md-0 col-md-3 col-lg-4 order-md-first list-inline socialList">
        <li class="wow fadeInUp hvr-grow" data-wow-duration=".5s" data-wow-delay=".25s"><img (click)="instagramPage()"
                                                                                             src="assets/img/instagram.svg"/>
        </li>
        <li class="wow fadeInDown hvr-grow" data-wow-duration=".5s"><img (click)="telegramPage()"
                                                                         src="assets/img/telegram.svg"/></li>
      </ul>

    </div>
    <div class="logoSection col-8 col-md-4 offset-lg-3 col-lg-2">
      <p class="logoText1">گفتاره</p>
      <p class="logoText2">مشاوره آنلاین روانشناسی</p>
    </div>
    <div class="logoImg col-3 col-md-1 col-lg-2"></div>

  </div>

  <!--<div class="row d-md-flex d-none" style="padding-left: 40px;">
    <div class="col-8" style="background-color: #215971;height: 1px;"></div>
  </div>
  <div class="row d-md-flex d-none" style="padding-top: 60px;padding-bottom: 80px;padding-left: 40px">

    <div class="col wow pulse" data-wow-delay="1s" data-wow-duration=".5s" >
      <p class="listHeader" style="margin-bottom: 15px">سایر صفحات</p>
      <div class="lineUnderHeader" style="background-color: #42A17D;float: right;"></div>

      <div class="clearfix"></div>

      <div class="listItem" style="padding-top: 35px">
        <p>روانشناس هستید؟ به ما پیوندید</p>
      </div>

      <div class="clearfix"></div>

      <div class="listItem">
        <p>تماس با ما</p>
      </div>

      <div class="clearfix"></div>

      <div class="listItem">
        <p>درباره ما</p>
      </div>



    </div>

    <div class="col wow pulse" data-wow-delay=".75s" data-wow-duration=".5s">
      <p class="listHeader" style="margin-bottom: 15px">اطلاعات بیشتر</p>
      <div class="lineUnderHeader" style="background-color: #42A17D;float: right;"></div>

      <div class="clearfix"></div>

      <div class="listItem" style="padding-top: 35px">
        <p>خدمات مشاوره آنلاین</p>
      </div>

      <div class="clearfix"></div>

      <div class="listItem">
        <p>مشاوره آنلاین روانشناسی</p>
      </div>



    </div>

    <div class="col wow pulse" data-wow-delay=".5s" data-wow-duration=".5s">
      <p class="listHeader" style="margin-bottom: 15px">خدمات مشاوره آنلاین</p>
      <div class="lineUnderHeader" style="background-color: #42A17D;float: right;"></div>

      <div class="clearfix"></div>

      <div class="listItem" style="padding-top: 35px">
        <p>مشاوره خانواده</p>
      </div>

      <div class="clearfix"></div>

      <div class="listItem">
        <p>مشاوره ازدواج</p>
      </div>

      <div class="clearfix"></div>

      <div class="listItem">
        <p>مشاوره افسردگی</p>
      </div>



    </div>

    <div class="col-2 col-md-1 col-lg-2"></div>
  </div>

  <div class="row d-block d-md-none">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne" style="padding-left: 0;padding-right: 0">
          <h5 class="mb-0">
            <button style="color: white;" class="btn btn-link w-100 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <i style="color: white;" class="material-icons float-left"></i>خدمات مشاوره آنلاین
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">مشاوره خانواده</li>
              <li class="list-group-item">مشاوره ازدواج</li>
              <li class="list-group-item">مشاوره افسردگی</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo" style="padding-left: 0;padding-right: 0">
          <h5 class="mb-0">
            <button style="color: white;" class="btn btn-link w-100 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i  style="color: white;" class="material-icons float-left"></i>اطلاعات بیشتر
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">خدمات مشاوره آنلاین</li>
              <li class="list-group-item">مشاوره آنلاین روانشناسی</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree" style="padding-left: 0;padding-right: 0">
          <h5 class="mb-0">
            <button style="color: white;" class="btn btn-link w-100 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <i style="color: white;" class="material-icons float-left"></i>سایر صفحات
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">روانشناس هستید؟ به ما پیوندید</li>
              <li class="list-group-item">تماس با ما</li>
              <li class="list-group-item">درباره ما</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>-->

</div>

<h1 class="emergency">نیاز به کمک فوری و اضطراری دارید؟<br class="d-block d-md-none"/> با اورژانس اجتماعی تماس بگیرید<br class="d-block d-md-none"/> 123</h1>
