<div class="fullScreen backgroundImage">
  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <div class="float-right">
          <p class="headerText wow fadeInDown"  style="margin-bottom: 12px" data-wow-duration=".5s">روانشناسان حرفه ای و با تجربه</p>
          <div class="lineUnderHeader wow slideInRight"  data-wow-duration=".25s" style="background-color: #0092D3;float: right;"></div>
          <div class="clearfix"></div>
          <div class="checkbox wow fadeInRight" data-wow-duration=".5s" data-wow-delay=".25s" >
            <img src="assets/img/check-box.svg" />
            <p style="display: inline-block">تحصیل کرده</p>
          </div>
          <div class="checkbox wow fadeInRight"  data-wow-duration=".5s" data-wow-delay=".5s">
            <img src="assets/img/check-box.svg" />
            <p style="display: inline-block">با تجربه</p>
          </div>
          <div class="checkbox wow fadeInRight" data-wow-duration=".5s" data-wow-delay=".75s">
            <img src="assets/img/check-box.svg" />
            <p style="display: inline-block">دارای مجوز رسمی</p>
          </div>

          <div class="clearfix"></div>
          <p class="desc wow fadeInUp" data-wow-delay=".75s">گفتاره دسترسی به روانشناسان معتبر، مجاز و آموزش دیده را آسان کرده است.روانشناستان شما را قضاوت نمیکند و درست شبیه مشاوره حضوری حریم خصوصی شما محفوظ است.<br>مشاورتان آنچه بر شما میگذرد درک میکند و به شما کمک میکند با چالش های زندگی توانگرانه روبه رو شوید.</p>
          <div class="clearfix"></div>
          <button mat-raised-button class="btn wow zoomIn" data-wow-delay="1s" (click)="openRegisterModal()">صحبت با روانشناس</button>
        </div>
      </div>
      <div class="col col2"></div>
    </div>


  </div>


</div>
