<app-navbar [path]="'about'"></app-navbar>
<div class="fullScreen" style="margin-top: 100px">
  <div class="container">
    <div class="row" style="padding-bottom: 120px">
      <div class="d-none d-lg-flex col-lg-5">
        <img class="img1" style="box-shadow: -50px -50px 3px 0 #0092D3;" src="assets/img/why_image.jpg"/>
      </div>
      <div class="col-12 offset-lg-1 col-lg-6">
        <p class="headerText">چرا گفتاره به وجود آمده است؟</p>
        <div class="lineUnderHeader" style="background-color: #0092D3;float: right;"></div>
        <p class="headerDesc">
          داستان از آنجایی آغاز شد که ما هر روز شاهد مشکلات روانی متعدد در سطح جامعه بودیم. پدر و مادری که اگر می توانستند به راحتی به مشاوره دسترسی داشته باشند، می توانستند در تربیت فرزندانشان موفق تر عمل کنند. نوجوانی که به دلیل نداشتن کسی که بتواند مسائل و دغدغه هایش را مطرح کند، به مسیر هایی که نباید قدم گذاشته است.<br/>
          این مشکلات را نه تنها در جامعه بلکه در خودمان، خانواده ها و اطرافیان خودمون مشاهده می کردیم. مشکلاتی که بعضا با یک مشاوره ساده حل می شوند اما در صورت حل نشدن، عواقب بسیار بدی در پی دارند.<br/>
          به همین دلیل بر آن شدیم قدمی هر چند کوچک برای بهتری کردن حال مردم کشورمان برداریم و بتوانیم لبخندی بر روی لب مردم مان بنشانیم.
        </p>
      </div>
    </div>
    <div class="row" style="padding-bottom: 120px">
      <div class="col-12 col-lg-5">
        <p class="headerText">هدف گفتاره چیست؟</p>
        <div class="lineUnderHeader" style="background-color: #0092D3;float: right;"></div>
        <p class="headerDesc">
          هدف و آرمان اصلی ما داشتن جامعه ای سالم است. جامعه ای که مردم آن بتوانند از لحاظ روحی در آرامش باشند و در سایه این آرامش برای پیشرفت خود و جامعه تلاش کنند.
          <br/>برای رسیدن به این آرمان، تمام تلاش خود را برای ساختن بهترین و راحت ترین راه ممکن برای دسترسی به روانشناسان کاربلد و با تجربه به کار می گیریم.
        </p>

      </div>
      <div class="d-none d-lg-flex offset-lg-1 col-lg-6">
        <img class="img1" style="box-shadow: 50px -50px 3px 0 #0092D3;" src="assets/img/goal_background_image.jpg" />
      </div>
    </div>
  </div>
</div>
