<div class="modal-header">
  <h4 class="modal-title mt1">فراموشی رمز عبور</h4>
  <div class="modal-title mt2">
    <img src="assets/img/logo.svg"/>
    گفتاره
  </div>

  <button class="mt2" id="loginBtn" (click)="showLoginDialog()" mat-raised-button>ورود</button>

  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span style="color:  white" aria-hidden="true">&times;</span>
  </button>

</div>
<div class="modal-body">
  <p class="headerTextDialog">برای بازیابی رمز عبور، ایمیل خود را وارد کنید</p>
  <form class="example-form" >

    <mat-form-field class="example-full-width">
      <input matInput placeholder="ایمیل" [formControl]="email" >
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

  </form>

  <button *ngIf="!loading && !ok" mat-raised-button="" class="btn loginBtn" (click)="forgetpassword()">تایید</button>
  <mat-spinner *ngIf="loading " [diameter]="50" [strokeWidth]="2" style="margin-left: calc(50% - 25px)"></mat-spinner>
  <p *ngIf="!loading && ok" [style.color]="msgColor" style="direction: rtl;text-align: center;font-size: 18px;padding-top: 5px;padding-bottom: 10px">{{msg}}</p>
  <p class="mt1" id="text2"><span style="color: #0092D3;cursor: pointer" (click)="showLoginDialog()">ورود</span></p>

</div>

