<app-navbar [path]="'recovery'"></app-navbar>

<div class="fullScreen" style="padding-top: 50px">
  <div class="container">
    <div class="row" style="padding-bottom: 120px">
      <div id="box" class="col-md-4 offset-md-4" >
        <!--<h1 id="head">رمز عبور جدید خود را وارد کنید</h1>-->
        <p class="text2">رمز عبور جدید خود را وارد کنید</p>

        <form class="example-form" >

          <mat-form-field class="example-full-width">
            <input matInput placeholder="رمز عبور" [formControl]="password" type="password">
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="تکرار رمز عبور" [formControl]="password2" type="password">
            <mat-error *ngIf="password2.invalid">{{getPassword2ErrorMessage()}}</mat-error>
          </mat-form-field>

        </form>

        <button *ngIf="!loading && !ok" mat-raised-button="" class="btn loginBtn" (click)="recovery()">تغییر رمز</button>
        <mat-spinner *ngIf="loading " [diameter]="50" [strokeWidth]="2" style="margin-left: calc(50% - 25px)"></mat-spinner>
        <p *ngIf="!loading && ok" [style.color]="msgColor" style="direction: rtl;text-align: center;font-size: 18px;padding-top: 5px;padding-bottom: 10px">{{msg}}</p>
      </div>
    </div>
  </div>
</div>
