<div class="fullScreen">
  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <h1 class="headerText wow fadeInDown" data-wow-duration=".5s">برخی خدمات مشاوره آنلاین گفتاره</h1>
        <div class="lineUnderHeader wow fadeInUp" data-wow-duration=".5s" style="background-color: #0092D3;margin-left: calc(50% - 50px);margin-top: 8px"></div>
      </div>
    </div>

    <div class="row" style="margin-top: 52px;">

      <div class="cart cart1 col-md col-lg col-12 order-md-first order-last wow pulse" data-wow-duration=".5s" data-wow-delay=".75s">
        <h1 class="cartHeader">مشاوره خانواده</h1>
        <p class="cartDesc">برای حل چالش های خانواده از جمله آموزش مهارت های زندگی ، تربیت فرزند ، روانشناسی کودک و سایر مسایل مرتبط با خانواده از روانشناسان باتجربه ما کمک بگیرید.</p>
        <button mat-button class="cartButton" (click)="openRegisterModal()">خانواده ای بهتر بسازید</button>
      </div>

      <div class="cart cart2 col-md col-lg col-12 wow pulse" data-wow-duration=".5s" data-wow-delay=".5s" >
        <h1 class="cartHeader">مشاوره ازدواج</h1>
        <p class="cartDesc">ازدواج خوب ساختنی است. گفتاره در تمامی مراحل ازدواج همراه شماست. تردیدها و ترسهاتان را با روانشناسان ما در میان بگذارید.</p>
        <button mat-button class="cartButton" (click)="openRegisterModal()">مشاوره ازدواج بگیرید</button>
      </div>

      <div class="cart cart3 col-md col-lg col-12 order-md-last order-first wow pulse" data-wow-duration=".5s" data-wow-delay=".25s">
        <h1 class="cartHeader">مشاوره افسردگی</h1>
        <p class="cartDesc">اگر با افسردگی دست و پنجه نرم میکنید ، یادتان باشد که تنها نیستید ، بیش از ۳۰۰ میلیون نفر در جهان با افسردگی زندگی میکنند.</p>
        <button mat-button class="cartButton" (click)="openRegisterModal()">درمان افسردگی را شروع کنید</button>
      </div>



    </div>


    <div class="row justify-content-center hintSection" style="padding-top: 30px;padding-bottom: 30px">
      <div class="col-12 col-lg-6">
        <button mat-raised-button class="btn" (click)="openRegisterModal()">شروع مشاوره</button>
        <p class="hint">در زمینه دیگری مشاوره می خواهید؟</p>
      </div>
    </div>

  </div>


</div>
