<div class="fullScreen backgroundImage">
  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <div class="float-right">
          <p class="headerText wow fadeInDown" data-wow-duration=".5s" style="margin-bottom: 12px">اپلیکیشن موبایل گفتاره</p>
          <div class="lineUnderHeader wow slideInRight" data-wow-duration=".25s" style="background-color: #0092D3;float: right;"></div>
          <div class="clearfix"></div>
          <p class="desc ">با اپلیکیشن موبایل گفتاره به راحتی به صفحه روانشناس خود دسترسی داشته باشید و حرف های خود را به محض اینکه به ذهنتان میرسد بدون اتلاف وقت برای روانشناس بنویسید.</p>
          <div class="clearfix"></div>
          <button mat-raised-button class="btn" (click)="goToAndroid()">دانلود نسخه اندروید</button>
          <!--<button mat-raised-button class="btn" style="margin-right: 20px;background-color: #6A4AE4;">iOS دانلود نسخه</button>-->

        </div>
      </div>
      <div class="col d-none d-md-block"></div>
    </div>


  </div>


</div>
