<div class="fullScreen" style="background-color: rgba(250, 250, 250, 0.98)">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="float-right headerSection" style="margin-right: 64px">
          <p class="headerText wow fadeInDown" data-wow-duration=".5s" style="margin-bottom: 12px">نظر کاربران در مورد گفتاره</p>
          <div class="lineUnderHeader wow slideInRight" data-wow-duration=".25s" style="background-color: #0092D3;float: right;"></div>
        </div>
      </div>
    </div>

   <div class="row banner">
     <div id="commentsCarousel" class="carousel slide" data-ride="carousel" >
       <ol class="carousel-indicators">
         <li data-target="#commentsCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#commentsCarousel" data-slide-to="1"></li>
         <li data-target="#commentsCarousel" data-slide-to="2"></li>
       </ol>
       <div class="carousel-inner" style="border-radius: .25rem;box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);">
         <div class="carousel-item active">
           <h1>
             من از روانشناسم واقعا راضی بودم. کارشون عالی بود.
           </h1>
           <p>niki</p>
         </div>
         <div class="carousel-item">
           <h1>
             روانشناس من خیلی خوش برخورد و با حوصله بودن. واقعا ممنونم از راهنماییهاشون
           </h1>
           <p>bahare</p>
         </div>
         <div class="carousel-item">
           <h1>
             روانشناس من بهترین دکتر دنیا و درمانگری هستن که واقعا برای مریضش وقت میذاره. اینقدر ایشون خوبن که کلمات قادر به توصیف ایشون نیست
           </h1>
           <p>Amir hossein</p>
         </div>
       </div>

     </div>
   </div>

    <div class="row" style="margin-top: 80px">
      <div class="col">
        <div class="float-left hintSection" style="margin-right: 64px;">
          <button (click)="openRegisterModal()" mat-raised-button class="btn">شروع مشاوره</button>
          <p class="hint">شما هم می توانید حالی خوب را تجربه کنید</p>
        </div>
      </div>
    </div>


  </div>
</div>
